.container{
  width:743px;
  height:91px;
  width: 743px;
background-color: #3579F5;
margin-top: 226px;
margin-left: 455px;
padding: 10px;
border-radius:6px;
opacity: 0px;
display:flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}

.circle{
  width: 60px; 
  height: 60px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 16px;
  margin-left: 22px; 
  }

  .bar{
    margin:0;
    color:#FFFFFF;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
     }


  .cta{
    width:170px;
    height:40px;
    background-color: #F4F8FF;
    color:#3579F5;
    padding: 10px 32px 10px 32px;
border-radius: 6px;
border:none;

  }

  .next{
 font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: left;
color:#FFFFFF;
  }

  .done{
    font-family: Inter;
font-size: 15px;
font-weight: 600;
line-height: 20px;
text-align: left;
color:#FFFFFF;
  }


  .checkOne{
    background-color: #2364DB;
    width: 76px;
    height: 18px;
    text-align:center;
    padding: 0px 10px 0px 10px;
border-radius: 40px;
opacity: 0px;
color:#FFFFFF;
font-size:12px ;
font-family: Inter;
  }
